.order {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.order h2.boyut, .hamur h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #5f5f5f;
  font-weight: 600;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

.choose-size {
  width: 50%;
}

.hamur-container {
  width: 50%;
}

.hamur-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  background-color: #f9f9f9;
}

.radio-option {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  color: #444;
}

.radio-option input[type="radio"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.ek h3.ek {
  font-size: 18px;
  margin-bottom: 5px;
  color: #5f5f5f;
  font-weight: 600;
}

.ekstra {
  font-size: 14px;
  color: #8a8a8a;
  margin-bottom: 20px;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox1, .checkbox2, .checkbox3 {
  width: 30%;
}

.checkbox1 div, .checkbox2 div, .checkbox3 div {
  margin-bottom: 12px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox-container label {
  cursor: pointer;
  font-size: 15px;
  color: #444;
  display: flex;
  align-items: center;
}

.siparis {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.buttons button {
  padding: 5px 12px;
  border: 1px solid #e0e0e0;
  background-color: yellow;
  cursor: pointer;
  border-radius: 3px;
  font-size: 15px;
}

.button-hesap {
  text-align: right;
  width: 60%;
}

.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.price-label {
  color: #5f5f5f;
  font-size: 14px;
}

.price-value {
  color: #5f5f5f;
  font-size: 14px;
}

.price-value-total {
  color: #5f5f5f;
  font-weight: bold;
  font-size: 18px;
}

.order-button {
  background-color: yellow;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s;
}

.order-button:hover {
  background-color: yellow;
}

/* Custom radio buttons */
.radio-custom {
  display: inline-block;
  width: 18px;
  height: 18px;
}